
* {
  box-sizing: border-box;
}

body {

  --color-primary: #66f;

  margin: 0;
  padding: 50px;
  height: 100vh;

  font-family:
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Helvetica,
    Arial,
    sans-serif,
    Apple Color Emoji,
    Segoe UI Emoji;

}

textarea {
  resize: none;

  width: 100%;
  height: 100%;
  padding: 25px;

  color: black;
  font-family:
    SFMono-Regular,
    Consolas,
    Liberation Mono,
    Menlo,
    monospace;
  font-weight: 600;
  font-size: 20px;

  border-radius: 25px;
  border: 3px solid transparent;
  margin-bottom: 15px;

}

textarea:focus,
body.text-modified textarea {
  outline: none;
  border-color: var(--color-primary);
  color: var(--color-primary);
}

button {
  pointer-events: none;
  cursor: pointer;

  position: absolute;
  bottom: 75px;
  right: 75px;

  background: none;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 3px solid var(--color-primary);
  background-color: var(--color-primary);

  color: white;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.05em;

  transform: scale(0);

  transition:
    transform 0.15s ease;

}

body.text-modified button {
  pointer-events: auto;
  transform: scale(1);
}

body.text-modified button:hover {
  background: white;
  border-color: var(--color-primary);
  color: var(--color-primary);
}

body.text-modified button:active {
  transform: scale(0.9);
  transition: none;
}

